<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">    <!--Tymeleaf의 문법을 사용하기 위해서 추가-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>상품 리스트 출력 예제</h1>

  <table border="1">
    <thead>
      <tr>
        <td>순번</td>
        <td>상품명</td>
        <td>상품설명</td>
        <td>가격</td>
        <td>상품등록일</td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="itemDto, status: ${itemDtoList}">

        <!-- th:if="%{status.even}" th:text="짝수"   --><!--status에는 현재 반복에 대한 정보가 존재함. 인덱스가 짝수일 경우 status.even은 true가 됨. 즉, 현재 인덱스가 짝수라면 순번에 '짝수'를 출력해줌-->
        <!-- th:unless="%{status.even}" th:text="홀수"   --><!--현재 인덱스가 짝수가 아닐 경우, 즉 홀수일 경우 순번에 '홀수'를 출력함-->

        <td th:switch="${status.even}">
          <!--  해당 인덱스 ${status.even}의 값이 true일 경우(짝수일 경우) th:case=true, false 일 경우(홀수 일 경우) th:case=false -->
          <span th:case=true>짝수</span>
          <span th:case=false>홀수</span>
        </td>
        <td th:text="${itemDto.itemNm}"></td>
        <td th:text="${itemDto.itemDetail}"></td>
        <td th:text="${itemDto.price}"></td>
        <td th:text="${itemDto.regTime}"></td>
      </tr>
    </tbody>
</table>

</body>
</html>